.type {
  right: 100px;
  top: 0px;
  position:absolute;
}
li.intro.type{
  margin:0;
  padding:0;
}
.work {
  bottom: 20px;
  left: 50px;
}

.contact{
  right: 50px;
  bottom: 20px;
}

.page{
  right: 50px;
  bottom: 20px;
}
.content{
  position:relative;
}
.content:after{
  content:"";
  display:table;
  clear:both;
}
.content > li{
  float:left;
  clear:both;
}

.content:not(.static) > li:hover ~ .container li a {
  color: white; 
}

.container {
  position: fixed;
  top: 0;
  left: 0;
}

.container li {
  position: fixed; 
}
  
.container .name {
  top: 20px;
  left: 50px; 
}

.container .type {
  top: 20px;
  right: 50px;
}

.container .work {
  bottom: 20px;
  left: 50px; 
}

.container .contact {
  bottom: 20px;
  right: 50px;
}

/* Medium only */

@media screen and (min-width: 40em) and (max-width: 63.9375em) {
  .work {
    bottom: 20px;
    left: 40px;
  }
  .contact{
    right: 40px;
    bottom: 20px;
  }
  .page{
    right: 40px;
    bottom: 20px;
  }
  .container .name {
    top: 20px;
    left: 40px; 
  }
  .container .type {
    top: 20px;
    right: 40px;
  }
  .container .work {
    bottom: 20px;
    left: 40px; 
  }
  .container .contact {
    bottom: 20px;
    right: 40px;
  }
}


/* responsive scaling */
/* Small only */

@media screen and (max-width: 39.9375em) {
  .work {
    bottom: 15px;
    left: 30px;
  }
  .contact{
    right: 30px;
    bottom: 15px;
  }
  .page{
    right: 30px;
    bottom: 15px;
  }
  .container .name {
    top: 15px;
    left: 30px; 
  }
  .container .type {
    top: 15px;
    right: 30px;
  }
  .container .work {
    bottom: 15px;
    left: 30px; 
  }
  .container .contact {
    bottom: 15px;
    right: 30px;
  }

  .content:not(.static) > li:hover ~ .container li a {
  color: black; 
}
}