@font-face {
    font-family: GT-America-Standard-Regular;
    src: url("assets/fonts/GT-America-Standard-Regular.otf") format("opentype");
}

@font-face {
    font-family: GT-America-Standard-Regular;
    font-weight: normal;
    src: url("assets/fonts/GT-America-Standard-Regular.otf") format("opentype");
}

@font-face {
    font-family: GT-America-Standard-Medium;
    src: url("assets/fonts/GT-America-Standard-Medium.otf") format("opentype");
}

@font-face {
    font-family: Skrimshaw-Modern;
    src: url("assets/fonts/Skrimshaw-Modern.otf") format("opentype");
}

body{
	background-color:white;
	color: black;
	padding-left:50px;
	padding-right:50px;
	cursor:default;
	font-family:GT-America-Standard-Regular;
	position:relative;
	width:100vw;
	height:100%;
	display:block;
	padding-top:50px;
	margin:0;
	margin-bottom:50px;
}

.row.expanded{
	margin-left: -0.9375rem;
	margin-right: -0.9375rem;
}
.content{
	width:100%;
	float:right;
	overflow: scroll;
	color: black;
}
ol.content, .content ol{
	list-style:none;
	margin:0;
	padding:0;
}
*{
    outline-color: transparent;
    outline-style: none;
}

p{
	font-size:45pt;
	line-height:49pt;
	letter-spacing:-.5pt;
	font-weight:bold;
}
p.main-description{
	font-size:15pt;
	line-height:1.25;
	font-weight:normal;
	margin-right:0;
	margin-left:0;
}
p.description{
	font-size:15pt;
	line-height:1.1;
	margin-top:0;
	margin-bottom:0;
	font-weight:normal;
	margin-right:0;
	margin-left:0;
}

p.skrimshaw-description{
	font-size:15pt;
	line-height:1.25;
	font-weight:normal;
	letter-spacing:.1pt;
	font-family:Skrimshaw-Modern;
	margin-right:0;
	margin-left:0;
}

a{
	cursor:default;
	text-decoration:none;
	color:black;
	display:inherit;
	line-height:100%;
}
h3{
	margin-top:20px;
	margin-bottom:10px;
	line-height:1.1;
}
a.title:before{
	content:"";
	display:block;
	position:fixed;
	width:100vw;
	height:100vh;
	top:0;
	left:0;
	z-index:-1;
	background-color:transparent;
}
a.title:hover:before{
	background-color: rgb(0, 0, 0);
}
.title{
	font-size:100pt;
	line-height:1;
	letter-spacing:-1pt;
	padding-top:10px;
	padding-bottom:20px;
	font-weight:bolder;
	display:inline-block;
	text-decoration:none;
}
.title:hover span#type {
  display: inline-block;
}
a.title:hover{
	color:white;
	cursor:default;
}
.project-title{
	font-size:100pt;
	line-height:125pt;
	letter-spacing:-1pt;
	padding-top:10px;
	font-weight:bolder;
	display:inline-block;
	text-decoration:none;
}

.skrimshaw-title{
	font-size:100pt;
	line-height:1;
	font-family:Skrimshaw-Modern;
	letter-spacing:-1pt;
	padding-top:10px;
	padding-bottom:20px;
	display:inline-block;
	text-decoration:none;
}

.skrimshaw-heading{
	font-size:100pt;
	line-height:1.1;
	font-family:Skrimshaw-Modern;
	padding-top:50px;
	padding-bottom:50px;
	letter-spacing:-2px;
	padding-bottom:20px;
	display:inline-block;
	text-decoration:none;
	color:#915B25;
}

.geo-subdomain{
	font-size: 45px;
    letter-spacing: -.25pt;
    line-height:1.15;
    font-weight: bold;
    margin-top: 10px;
}

.thesis-subdomain{
	font-size: 45px;
    letter-spacing: -.25pt;
    line-height:1.15;
    font-weight: bold;
    margin-top: 20px;
    margin-bottom:50px;
    float: right;
    padding: 20px;
    background-color: #FFDD2E;
    height: 250px;
    width: 250px;
    box-shadow: 0 0 10px 2px rgba(0,0,0,0.1);
}

a.thesis-subdomain:hover{
	box-shadow:5px 5px 10px 4px rgba(0,0,0,0.1);
}

/* Large and up */
@media screen and (min-width: 64em) {
	#type{
		font-size:15pt;
		letter-spacing: 0;
		position:fixed;
		right:0px;
	}
	span#type{
		display:none;
		position:absolute;
		margin-top:-30px;
	}
}

.type{
	font-size:15pt;
	list-style-type:none;
	position:relative;
	margin-top:7vh;
	margin-bottom:7vh;
}
.intro{
	font-size:15pt;
	list-style-type:none;
	color:black;
	font-style:normal;
	cursor:default;
}
.intro a:hover{
	text-decoration:underline;
}

.type a:hover{
	text-decoration:none;
}

/*project page image styling*/

.row img{
	width:100%;
	height:auto;
	display:block;
	padding-bottom:25px;
}

.video-responsive{
    overflow:hidden;
    padding-bottom:56.25%;
    position:relative;
    height:0;
    margin-bottom:25px;
}
.video-responsive iframe{
    left:0;
    top:0;
    height:100%;
    width:100%;
    position:absolute;
}

video{
	width:425px;
	height:auto;
}

.letters{
	padding:0;
}

input#typetest-full{
	font-size:100pt;
	font-family:Skrimshaw-Modern;
	width:100%;
	height:auto;
	border:none;
	color:#915B25;
	background-color:#D4D4D2;
	padding:25px;
	padding-bottom:0px;
	margin-bottom:5px;
}

input#typetest-half{
	font-size:50pt;
	font-family:Skrimshaw-Modern;
	width:100%;
	height:auto;
	border:none;
	color:#915B25;
	background-color:#D4D4D2;
	padding:25px;
	padding-bottom:10px;
	margin-bottom:25px;
}

input::-webkit-input-placeholder {
color: white;
}

input:-moz-placeholder { /* Firefox 18- */
color: white;
}

input::-moz-placeholder {  /* Firefox 19+ */
color: white;
}

input:-ms-input-placeholder {
color: white;
}

.skrimshaw-letters{
	font-family:Skrimshaw-Modern;
	font-size:50pt;
	font-weight:100;
	line-height:1.3;

}

/*home page underline situation*/

.underline {
  display: inline;
  position: relative;
  overflow: hidden;
}
.underline:after {
  content: "";
  position: absolute;
  z-index: -1;
  right: 0;
  width: 0;
  bottom: 2px;
  background: #000;
  height: 5px;
  transition-property: width;
  transition-duration: 0.5s;
  transition-timing-function: ease-out;
}
.underline:hover:after,
.underline:focus:after,
.underline:active:after {
  left: 0;
  right: auto;
  width: 100%;
}


/* responsive scaling */
/* Small only */

@media screen and (max-width: 39.9375em) {
	body{
		padding-left:30px;
		padding-right:30px;
		padding-top:50px;
		margin-bottom:50px;
	}

	video{
		width:350px;
		height:auto;
	}

	.title{
		font-size:50pt;
		letter-spacing:-.5pt;
	}
	.project-title{
		font-size:50pt;
		line-height:60pt;
	}
	p{
		font-size:16pt;
		line-height:1.1;
	}
	p.main-description{
		font-size:16pt;
	}
	p.description{
		font-size:16pt;
	}
	h3{
		font-size:16pt;
	}
	#type{
		font-size:16pt;
		letter-spacing: 0;
		display:block;
	}
	.underline:after {
  		content: "";
  		position: absolute;
  		z-index: -1;
  		right: 0;
  		width: 0;
  		bottom: 0px;
  		background: #000;
  		height: 2px;
  		transition-property: width;
  		transition-duration: 0.5s;
  		transition-timing-function: ease-out;
	}
}


/* Medium only */

@media screen and (min-width: 40em) and (max-width: 63.9375em) {
	body{
		padding-left:40px;
		padding-right:40px;
		padding-top:40px;
		margin-bottom:40px;
	}
	.title{
		font-size:75pt;
	}
	.project-title{
		font-size:75pt;
	}
	p{
		font-size:30pt;
		line-height:1.2;
	}
	p.main-description{
		font-size:15pt;
	}
	p.description{
		font-size:15pt;
	}
	h3{
		font-size:15pt;
	}
	#type{
		font-size:15pt;
		display:block;
		letter-spacing: 0;
	}
	.underline:after {
  		content: "";
  		position: absolute;
  		z-index: -1;
  		right: 0;
  		width: 0;
  		bottom: 1px;
  		background: #000;
  		height: 4px;
  		transition-property: width;
  		transition-duration: 0.5s;
  		transition-timing-function: ease-out;
	}
}

.fade-top{
	position: fixed;
    width: 100%;
    height: 7%;
    top: 0;
    left: 0;
    background-color:white;
}

.fade-bottom{
	position: fixed;
    width: 100%;
    height: 7%;
    bottom: 0;
    left: 0;
    background-color:white;
}
