/*@font-face {
    font-family: GT-America-Standard-Regular;
    src: url("assets/fonts/GT-America-Standard-Regular.otf") format("opentype");
}

@font-face {
    font-family: GT-America-Standard-Regular;
    font-weight: normal;
    src: url("assets/fonts/GT-America-Standard-Regular.otf") format("opentype");
}*/

@font-face {
    font-family: FoundersGrotesk-Regular;
    src: url("assets/fonts/GFoundersGrotesk-Regular.otf") format("opentype");
}

@font-face {
    font-family: FoundersGrotesk-Regular;
    font-weight: normal;
    src: url("assets/fonts/FoundersGrotesk-Regular.otf") format("opentype");
}

body{
	background-color:black;
	color: white;
	padding-left:50px;
	padding-right:50px;
	cursor:default;
	font-family:FoundersGrotesk-Regular;
	position:relative;
	width:100vw;
	height:100%;
	display:block;
	padding-top:50px;
	margin:0;
	margin-bottom:100px;
}

body.main{
	background-color:white;
	color:black;
}

.row.expanded{
	margin-left: -0.9375rem;
	margin-right: -0.9375rem;
}

.content{
	width:100%;
	float:right;
	overflow: scroll;
	color: black;
}

ol.content, .content ol{
	list-style:none;
	margin:0;
	padding:0;
}
*{
    outline-color: transparent;
    outline-style: none;
}

p{
	font-size:50pt;
	line-height:51pt;
	/*letter-spacing:.25pt;*/
	margin-top:20px;
	margin-bottom:20px;
	/*font-weight:bold;*/
}
p.main-description{
	font-size:16pt;
	line-height:1.25;
	font-weight:100;
	margin-right:0;
	margin-left:0;
}
p.description{
	font-size:16pt;
	line-height:1.1;
	letter-spacing:.25pt;
	margin-top:0;
	margin-bottom:0;
	font-weight:100;
	margin-right:0;
	margin-left:0;
}

a{
	cursor:default;
	text-decoration:none;
	color:black;
	display:inherit;
	line-height:100%;
}
h3{
	margin-top:20px;
	margin-bottom:10px;
	line-height:1.1;
}

a.title:before{
	content:"";
	display:block;
	position:fixed;
	width:100vw;
	height:100vh;
	top:0;
	left:0;
	z-index:-1;
	background-color:transparent;
}
a.title:hover:before{
	background-color: rgb(0, 0, 0);
}
.title{
	font-size:105pt;
	color:white;
	line-height:.75;
	letter-spacing:-1pt;
	padding-top:40px;
	display:inline-block;
	text-decoration:none;
}

.title.main{
	color:black;
}

.title:hover span.project-type {
  display: inline-block;
}

.title:hover span#image {
  display: inline-block;
}
a.title:hover{
	color:white;
	cursor:e-resize;
}
.project-title{
	font-size:100pt;
	line-height:125pt;
	letter-spacing:-1pt;
	padding-top:10px;
/*	font-weight:bolder;*/
	display:inline-block;
	text-decoration:none;
}

.geo-subdomain{
	font-size: 45px;
    line-height:1.15;
    margin-top: 10px;
    cursor:e-resize;
    color:white;
}

.thesis-subdomain{
	font-size: 45px;
    letter-spacing: -.25pt;
    line-height:1.15;
    font-weight: 800;
    margin-top: 20px;
    margin-bottom:50px;
    float: right;
    padding: 20px;
    background-color: #FFDD2E;
    height: 250px;
    width: 250px;
    box-shadow: 0 0 10px 2px rgba(255,221,46,0.5);
    cursor:pointer;
} 

/* Large and up */
@media screen and (min-width: 64em) {
	.project-type{
		font-size:16pt;
		letter-spacing: .5pt;
		position:fixed;
		right:0px;
	}
	span.project-type{
		display:none;
		position:absolute;
		margin-top:-30px;
	}

	span#image{
		display:none;
		position:absolute;
		width:100px;
		height:100px;
	}
}

.type{
	font-size:16pt;
	list-style-type:none;
	position:relative;
	margin-top:7vh;
	margin-bottom:7vh;
}
.intro.main a{
	font-size:16pt;
	list-style-type:none;
	color:black;
	font-style:normal;
	cursor:default;
}

.intro a{
	font-size:16pt;
	list-style-type:none;
	color:white;
	font-style:normal;
	cursor:default;
}

.intro a:hover{
	text-decoration:underline;
}

.type a:hover{
	text-decoration:none;
}

/*project page image styling*/

.row img{
	width:100%;
	height:auto;
	display:block;
	padding-bottom:25px;
}

.video-responsive{
    overflow:hidden;
    padding-bottom:56.25%;
    position:relative;
    height:0;
    margin-bottom:25px;
}
.video-responsive iframe{
    left:0;
    top:0;
    height:100%;
    width:100%;
    position:absolute;
}

video{
	width:425px;
	height:auto;
}

.letters{
	padding:0;
}

input::-webkit-input-placeholder {
color: white;
}

input:-moz-placeholder { /* Firefox 18- */
color: white;
}

input::-moz-placeholder {  /* Firefox 19+ */
color: white;
}

input:-ms-input-placeholder {
color: white;
}

/*home page underline situation*/

.underline {
  display: inline;
  position: relative;
  cursor:e-resize;
  overflow: hidden;
  z-index:-1;
}
.underline:after {
  content: "";
  position: absolute;
  z-index: -1;
  right: 0;
  width: 100%;
  bottom: 10px;
  background: #000;
  height: 4px;
}


/* responsive scaling */
/* Small only */

@media screen and (max-width: 39.9375em) {
	body{
		padding-left:30px;
		padding-right:30px;
		padding-top:50px;
		margin-bottom:50px;
	}

	video{
		width:350px;
		height:auto;
	}

	.title{
		font-size:60px;
		letter-spacing:-1;
	}
	.project-title{
		font-size:60px;
		line-height:70px;
	}
	p{
		font-size:16pt;
		line-height:1.1;
	}
	p.main-description{
		font-size:16pt;
	}
	p.description{
		font-size:16pt;
	}
	h3{
		font-size:16pt;
	}
	.project-type{
		font-size:16pt;
		letter-spacing: 0;
		margin-top:10px;
		display:block;
	}

	a.title:hover:before{
	background-color: rgb(255, 255, 255);
	}
	.title:hover span.project-type {
	  display: block;
	}
	a.title:hover{
		color:black;
	}

	#tab-about p{
		font-size:22px;
	}
	.underline:after {
  		content: "";
  		position: absolute;
  		z-index: -1;
  		right: 0;
  		width: 100%;
  		bottom: 3px;
  		background: #000;
  		height: 2px;
  		transition-property: width;
  		transition-duration: 0.5s;
  		transition-timing-function: ease-out;
	}
}


/* Medium only */

@media screen and (min-width: 40em) and (max-width: 63.9375em) {
	body{
		padding-left:40px;
		padding-right:40px;
		padding-top:40px;
		margin-bottom:40px;
	}
	.title{
		font-size:75pt;
	}
	.project-title{
		font-size:75pt;
	}

	.title:hover span.project-type {
	  display: block;
	}

	p{
		font-size:30pt;
		line-height:1.1;
	}
	p.main-description{
		font-size:16pt;
	}
	p.description{
		font-size:16pt;
	}
	h3{
		font-size:16pt;
	}
	.project-type{
		font-size:16pt;
		display:block;
		letter-spacing: 0;
	}
	.underline:after {
  		content: "";
  		position: absolute;
  		z-index: -1;
  		right: 0;
  		width: 100%;
  		bottom: 6px;
  		background: #000;
  		height: 4px;
  		transition-property: width;
  		transition-duration: 0.5s;
  		transition-timing-function: ease-out;
	}
}

/* Large desktop screen */

/*@media screen and (min-width: 87.5em) and (max-width: 118.75em) {
	body{
		padding-left:80px;
		padding-right:80px;
		padding-top:80px;
		margin-bottom:80px;
	}
	.title{
		font-size:180pt;
	}
	.project-title{
		font-size:180pt;
	}

	.title:hover span.project-type {
	  display: block;
	}

	p{
		font-size:75pt;
		line-height:1.1;
	}
	p.main-description{
		font-size:40pt;
	}
	p.description{
		font-size:40pt;
	}
	h3{
		font-size:40pt;
	}
	.project-type{
		font-size:40pt;
		display:block;
		letter-spacing: 0;
	}
	.underline:after {
  		content: "";
  		position: absolute;
  		z-index: -1;
  		right: 0;
  		width: 100%;
  		bottom: 20px;
  		background: #000;
  		height: 7px;
  		transition-property: width;
  		transition-duration: 0.5s;
  		transition-timing-function: ease-out;
	}
}*/

.fade-top{
	position: fixed;
    width: 100%;
    height: 7%;
    top: 0;
    left: 0;
    background-color:black;
}

.fade-bottom{
	position: fixed;
    width: 100%;
    height: 7%;
    bottom: 0;
    left: 0;
    background-color:black;
}

.fade-top.white{
    background-color:white;
}

.fade-bottom.white{
    background-color:white;
}

.title:hover div.fade-top.white{
    background-color:black;
}

.title:hover div.fade-bottom.white{
    background-color:black;
}

